* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerM {
    display: flex;
    flex-direction: column;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(32, 32, 32, 0.6);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
    overflow-y: auto
}

.close-icon {
    cursor: pointer;
    margin-top: -50px;
}

.row-top h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 52px;
}

.modal-container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 611px;
    border-radius: 20px;
}

.row-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit-button-editar {
    all: unset;
    box-sizing: border-box;
    background: rgba(185, 185, 185, 1);
    border-radius: 10px 0px 0px 10px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 245px;
    height: 60px;
    margin-bottom: 38px;
    cursor: pointer;
}

.debit-button-editar {
    all: unset;
    box-sizing: border-box;
    background: rgba(185, 185, 185, 1);
    border-radius: 0px 10px 10px 0px;;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 245px;
    height: 60px;
    margin-bottom: 38px;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input input {
    background: #FFFFFF;
    border: 1px solid #555555;
    box-sizing: border-box;
    border-radius: 5px;
    width: 485px;
    height: 60px;
    margin-bottom: 26px;
}

.input label {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
}

.botao {
    display: flex;
    justify-content: center;
}

.btn-insert{
    all: unset;
    box-sizing: border-box;
    background: #645FFB;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 236px;
    height: 42px;
}

.debit {
    background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%) !important;
}

.credit {
    background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%) !important;
}